<div class="page-background">
  <div class="content-overlay">

    <!-- BOTÓN VOLVER -->
    <div class="volver-container">
      <button class="btn-volver" (click)="volverAdministrador()">
        ← Volver al panel
      </button>
    </div>

    <header class="top-nav">
      <div class="breadcrumbs">
        <span class="role-badge">Administrador</span>
        <span class="divider">></span>
        <span class="current-view">Turistas</span>
      </div>
    </header>

    <!-- CONTENIDO -->
    <section class="page-content">

      <h2 class="title">Turistas Registrados</h2>

      <!-- MENSAJES -->
      <div class="alerts">
        <p *ngIf="mensaje" class="success">
          {{ mensaje }}
        </p>

        <p *ngIf="error" class="error">
          {{ error }}
        </p>
      </div>

      <!-- BARRA DE CONTROL -->
      <div class="control-bar">

        <div class="search-box">

          <input
            type="text"
            [formControl]="filtroDocumento"
            placeholder="Buscar por documento"
          />

          <button
            class="btn-search"
            (click)="buscarPorDocumentoIdentidad()">
            Buscar
          </button>

        </div>

        <div class="action-trigger-box">

          <button
            class="btn-create"
            (click)="abrirModalCrear()">
           + Crear Turista
          </button>

        </div>

      </div>

      <!-- TABLA -->
      <div class="table-wrap">

        <table>

          <thead>

            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Correo</th>
              <th>Documento</th>
              <th>Teléfono</th>
              <th>Nacionalidad</th>
              <th>Estado</th>
            </tr>

          </thead>

          <tbody>

            <tr
              *ngFor="let t of turistas"
              class="row-clickable"
              (click)="iniciarEdicion(t)"
            >

              <td>{{ t.id }}</td>
              <td>{{ t.nombre }}</td>
              <td>{{ t.correo }}</td>
              <td>{{ t.documentoIdentidad }}</td>
              <td>{{ t.telefono }}</td>

              <td>
                {{ t.nacionalidad || 'Sin nacionalidad registrada' }}
              </td>

              <td>
                <span class="estado-activo">
                  ● Activo
                </span>
              </td>

              <td>

              </td>

            </tr>

            <tr *ngIf="!turistas.length">

              <td colspan="8" class="empty">
                No hay turistas registrados
              </td>

            </tr>

          </tbody>

        </table>

      </div>

    </section>

  </div>
</div>

