
<div class="dashboard">

    <!-- SIDEBAR -->

    <aside class="sidebar">

       <div class="logo">

    <img
    src="assets/imagenes/logo.jpeg"
    alt="logo">

    <h1>KUNTUR</h1>

    <span>TÁMESIS</span>

        </div>

        <nav>

            <a
            (click)="cambiarSeccion('dashboard')"
            [class.active]="seccionActiva==='dashboard'">

                🏠 Inicio

            </a>

            <a
            (click)="cambiarSeccion('rutas')"
            [class.active]="seccionActiva==='rutas'">

                🗺️ Rutas asignadas

            </a>

            <a
            (click)="cambiarSeccion('disponibilidad')"
            [class.active]="seccionActiva==='disponibilidad'">

                🟢 Disponibilidad

            </a>

            <a (click)="cerrarSesion()">

                🚪 Cerrar sesión

            </a>

        </nav>

    </aside>

    <!-- CONTENIDO -->

    <main class="content">

        <!-- HEADER -->

        <div class="banner-bienvenida">
    <div class="banner-overlay"></div> <header>
        <div>
            <h1>¡Bienvenido, {{ perfil.nombre }}!</h1>
            <p>{{ perfil.profesion }}</p>
        </div>
    </header>
</div>

        <!-- DASHBOARD -->

       

            <!-- PERFIL RESUMEN -->

            <section class="profile-card">

                <div class="profile-img">

                   <img
                   [src]="fotoUrl"
                   alt="guia"
                   class="foto-perfil">
                </div>

                <div class="profile-info">

                    

                    <h2>{{ perfil.nombre }}</h2>

                    <p>{{ perfil.profesion }}</p>

                    <p>📧 {{ perfil.correo }}</p>

                    <p>📞 {{ perfil.telefono }}</p>

                    <p>📍 {{ perfil.ciudad }}</p>

                    <p>📅 Miembro desde {{ perfil.miembro }}</p>

                    <p>🌎 {{ perfil.idiomas }}</p>

                </div>

                <div class="profile-about">

                    <h3>Sobre mí</h3>

                    <p>{{ perfil.descripcion }}</p>

                </div>

                <button
                class="edit-btn"
                (click)="editarPerfil()">

                    ✏️ Editar perfil

                </button>

            </section>

        

          <!-- RUTAS -->
           <div *ngIf="seccionActiva==='rutas'">


          <h2 class="titulo-seccion">
            Rutas asignadas
        </h2>
        
        <div class="contenedor-rutas">
            <div
            
            class="ruta-card"
            *ngFor="let ruta of rutasAsignadas">
            
            <img
            
            [src]="ruta.imagen || 'assets/imagenes/ruta-default.jpg'"
            alt="ruta">

        <div class="capacidad-badge">
            👥 {{ ruta.cuposDisponibles }}
        </div>

        <div class="ruta-info">

            <h3>{{ ruta.nombre }}</h3>

            <p>
                📍 {{ ruta.destino }}
            </p>

            <p>
                ⏰ Duración: {{ ruta.duracion }}
            </p>

         <button
         (click)="abrirDetalleRuta(ruta)">
         Ver detalles
        </button>
        </div>

    </div>

</div>

</div>
        <!-- PERFIL -->

        <div *ngIf="seccionActiva==='perfil'">

            <section class="profile-card">

                <div class="profile-img">

                    <img
                    src="assets/guia.jpg"
                    alt="guia">

                </div>

                <div class="profile-info">

                    <h2>Perfil de Usuario</h2>

                    <p><strong>Nombre:</strong> Juan Pérez</p>

                    <p><strong>Fecha de registro:</strong> 24 noviembre 2022</p>

                    <p><strong>País:</strong> Colombia</p>

                    <p><strong>Ciudad:</strong> Támesis</p>

                    <p><strong>Correo:</strong> guia&#64;kuntur.com</p>

                    <p><strong>Teléfono:</strong> 3001234567</p>

                </div>

            </section>

        </div>

        <!-- TURISTAS -->

<div *ngIf="seccionActiva==='turistas'">

    <h2 class="titulo-seccion">
        Turistas Asignados
    </h2>

    <table>

        <thead>

            <tr>

                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Documento</th>
                <th>Correo</th>
                <th>Alergias</th>

            </tr>

        </thead>

    </table>

</div>

        <!-- DISPONIBILIDAD -->

<div *ngIf="seccionActiva==='disponibilidad'">

    <div class="card-disponibilidad">

        <h2>Estado del guía</h2>

        <h3>
            {{ disponible ? 'Disponible' : 'No Disponible' }}
        </h3>

        <button (click)="toggleDisponibilidad()">
            {{ disponible ? 'Desactivar' : 'Activar' }}
        </button>

    </div>

</div>

<!-- MODAL DETALLE RUTA -->

<div
*ngIf="mostrarDetalleRuta"
class="modal">

    <div class="detalle-ruta-modal">

        <button
        class="cerrar-modal"
        (click)="cerrarDetalleRuta()">
            ✕
        </button>

        <div class="detalle-layout">

            <!-- IZQUIERDA -->

            <div class="detalle-galeria">

                <img
                [src]="rutaSeleccionada?.imagen"
                class="imagen-principal"
                alt="Ruta">

               
            </div>

            <!-- DERECHA -->

            <div class="detalle-panel">

                <div class="etiqueta-ruta">
                    🌿 RUTA DE LAS FLORES
                </div>

                <h2>
                    {{ rutaSeleccionada?.nombre }}
                </h2>

                <p class="descripcion-ruta">
                    {{ rutaSeleccionada?.descripcion }}
                </p>

                <div class="item-info">
                    <span>📍 Ubicación</span>
                    <strong>{{ rutaSeleccionada?.destino }}</strong>
                </div>

                <div class="item-info">
                    <span>🕒 Duración</span>
                    <strong>{{ rutaSeleccionada?.duracion }}</strong>
                </div>

                <div class="item-info">
                    <span>👥 Capacidad</span>
                    <strong>{{ rutaSeleccionada?.cuposDisponibles }} personas</strong>
                </div>

                <div class="item-info">
                    <span>📈 Dificultad</span>
                    <strong>Baja</strong>
                </div>

                <div class="item-info">
                    <span>🥾 Tipo de ruta</span>
                    <strong>Senderismo</strong>
                </div>

            </div>

        </div>

        <div class="recomendaciones-box">

    <h3>🌱 Recomendaciones</h3>

    <p>
        Llevar calzado cómodo, ropa adecuada,
        hidratación y protector solar.
        Respeta la naturaleza y sigue las
        indicaciones del guía.
    </p>

    <hr>
    
    <h3>👥 Turistas inscritos</h3>
    <table
*ngIf="turistasAsignados.length > 0"
class="tabla-turistas">

  <thead>

    <tr>

      <th>Nombre</th>
      <th>Documento</th>
      <th>Correo</th>
      <th>Teléfono</th>

    </tr>

  </thead>

  <tbody>

    <tr *ngFor="let turista of turistasAsignados">

      <td>{{ turista.nombre }}</td>

      <td>
        {{ turista.documentoIdentidad }}
      </td>

      <td>{{ turista.correo }}</td>

      <td>{{ turista.telefono }}</td>

    </tr>

  </tbody>
  <p *ngIf="turistasAsignados.length === 0">
    
    No hay turistas inscritos en esta ruta.
</p>

            <!-- MODAL EDITAR PERFIL -->

<div
*ngIf="mostrarModal"
class="modal">

    <div class="detalle-ruta-modal">

        <button
        class="cerrar-modal"
        (click)="cerrarModal()">
            ✕
        </button>

       <div class="detalle-info">

    <h2>Editar Perfil</h2>

    <div class="form-group">

        <label>Foto de perfil</label>

        <input
        type="file"
        accept="image/*"
        (change)="seleccionarFoto($event)">

    </div>

    <div class="form-group">
        <label>Nombre</label>
        <input
        type="text"
        [(ngModel)]="perfil.nombre">
    </div>

            <div class="form-group">
                <label>Profesión</label>
                <input
                type="text"
                [(ngModel)]="perfil.profesion">
            </div>

            <div class="form-group">
                <label>Correo</label>
                <input
                type="email"
                [(ngModel)]="perfil.correo">
            </div>

            <div class="form-group">
                <label>Teléfono</label>
                <input
                type="text"
                [(ngModel)]="perfil.telefono">
            </div>

            <div class="form-group">
                <label>Ciudad</label>
                <input
                type="text"
                [(ngModel)]="perfil.ciudad">
            </div>

            <div class="form-group">
                <label>Idiomas</label>
                <input
                type="text"
                [(ngModel)]="perfil.idiomas">
            </div>

            <div class="form-group">
                <label>Descripción</label>
                <textarea
                rows="4"
                [(ngModel)]="perfil.descripcion"></textarea>
            </div>

            <button
            class="guardar-btn"
            (click)="guardarPerfil()">

                Guardar cambios

            </button>

        </div>

    </div>

</div>