
<main class="contenido">
  <button class="btn-back" (click)="volverAdmin()">
  ← Volver al panel
</button>

  <div class="hero">
    <div class="overlay">
      <h1>
        Gestión de pagos turísticos de Kuntur Támesis
      </h1>
      <p>
        Administra los pagos registrados en el sistema.
      </p>
    </div>
  </div>
  

  <div class="estadisticas">
    <div class="stat-card">
      <h2>{{ pagosRealizados.length }}</h2>
      <p>Pagos registrados</p>
    </div>

    <div class="stat-card">
      <h2>{{ pagosPendientes.length }}</h2>
      <p>Pagos pendientes</p>
    </div>
  </div>

  <div class="tabla-container" *ngIf="mostrarPagos">
    <h2>Todos los pagos</h2>
    <table>
      <thead>
        <tr>
          <th>Turista</th>
          <th>Ruta</th>
          <th>Monto</th>
          <th>Método</th>
          <th>Fecha</th>
          <th>Estado</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pago of pagosRealizados">
          <td>{{ pago.turista?.nombre }}</td>
          <td>{{ pago.ruta?.nombre }}</td>
          <td>${{ pago.monto }}</td>
          <td>{{ pago.metodoPago }}</td>
          <td>{{ pago.fecha | date:'dd/MM/yyyy HH:mm' }}</td>
          <td>
            <span [class]="pago.estado === 'PAGADO' ? 'estado-pagado' : 'estado-pendiente'">
              {{ pago.estado }}
            </span>
          </td>
         <td>
          <button
          class="btn-ver"(click)="abrirComprobante(pago)">
           Ver detalle
          </button>
          <button
          class="btn-aprobar"(click)="aprobarPago(pago.id)"
          *ngIf="pago.estado === 'PENDIENTE'">
          ✓ Aprobar
        </button>
        <button
        class="btn-rechazar"(click)="rechazarPago(pago.id)"
        *ngIf="pago.estado === 'PENDIENTE'">
        ✕ Rechazar
      </button>
    </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="tabla-container" *ngIf="mostrarPendientes">
    <h2>Pagos pendientes</h2>
    <table>
      <thead>
        <tr>
          <th>Turista</th>
          <th>Ruta</th>
          <th>Monto</th>
          <th>Método</th>
          <th>Fecha</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pago of pagosPendientes">
          <td>{{ pago.turista?.nombre }}</td>
          <td>{{ pago.ruta?.nombre }}</td>
          <td>${{ pago.monto }}</td>
          <td>{{ pago.metodoPago }}</td>
          <td>{{ pago.fecha | date:'dd/MM/yyyy HH:mm' }}</td>
          <td>
            <span class="estado-pendiente">
              {{ pago.estado }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal" *ngIf="pagoSeleccionado">
    <div class="modal-content">
      <button class="cerrar" (click)="cerrarModal()">✖️</button>
      <h2>Detalle del pago</h2>
      <div class="info">
        <p>👤 {{ pagoSeleccionado.turista?.nombre }}</p>
        <p>🗺️ {{ pagoSeleccionado.ruta?.nombre }}</p>
        <p>💰 ${{ pagoSeleccionado.monto }}</p>
        <p>💳 {{ pagoSeleccionado.metodoPago }}</p>
        <p>📅 {{ pagoSeleccionado.fecha | date:'dd/MM/yyyy HH:mm' }}</p>
        <p>📌 {{ pagoSeleccionado.estado }}</p>
      </div>
    </div>
  </div>

</main>