<div class="reserva-container">

    <div class="reserva-card">

        <h1>Reserva de Ruta</h1>

        <form>

            <!-- NOMBRE -->

            <div class="input-group">

                <label>Nombre Completo</label>

                <input
                type="text"
                placeholder="Ingresa tu nombre">

            </div>

            <!-- PERSONAS -->

            <div class="input-group">

                <label>Cantidad de Personas</label>

                <input
                type="number"
                placeholder="Cantidad">

            </div>

            <!-- MÉTODO PAGO -->

            <div class="input-group">

                <label>Método de Pago</label>

                <select>

                    <option>Tarjeta</option>

                    <option>Nequi</option>

                    <option>Daviplata</option>

                    <option>Efectivo</option>

                </select>

            </div>

            <!-- TOTAL -->

            <div class="total">

                Total: $120.000

            </div>

            <!-- BOTÓN -->

            <button type="submit">

                Confirmar Reserva

            </button>

        </form>

    </div>

</div>
