<div class="reserva-container">

  <div class="overlay">

    <div class="reserva-card">

      <h1>Reserva tu Aventura</h1>

      <form>

        <!-- NOMBRE -->

        <div class="input-group">

          <label>Nombre Completo</label>

          <input
            type="text"
            placeholder="Ingresa tu nombre">

        </div>

        <!-- NACIONALIDAD -->

        <div class="input-group">

          <label>Nacionalidad</label>

          <input
            type="text"
            placeholder="Ej: Colombiana">

        </div>

        <!-- ALERGIAS -->

        <div class="input-group">

          <label>¿Tiene alguna alergia o afección?</label>

          <select [(ngModel)]="tieneAlergia" name="alergia">

            <option>Si</option>

            <option>No</option>

          </select>

        </div>

        <!-- DETALLE -->

        <div
          class="input-group"
          *ngIf="tieneAlergia === 'Si'">

          <label>¿Cuál?</label>

          <textarea
            rows="4"
            placeholder="Describa su alergia o afección">
          </textarea>

        </div>

        <!-- PAGO -->

        <div class="input-group">

          <label>Método de Pago</label>

          <select>

            <option>Tarjeta</option>

            <option>Nequi</option>

            <option>Daviplata</option>

            <option>Efectivo</option>

          </select>

        </div>

        <div class="total">

          Total: $120.000

        </div>

        <button type="submit">

          Confirmar Reserva

        </button>

      </form>

    </div>

  </div>

</div>