<div class="detalle-header">

    <!-- LOGO -->

    <img
    src="assets/logo.png"
    alt="Logo"
    class="logo-detalle">

    <!-- BOTÓN VOLVER -->

    <button
    routerLink="/rutas"
    class="btn-volver">

        ➜

    </button>

</div>

<!-- CONTENIDO -->

<section class="detalle-container">

    <!-- IMAGEN -->

    <div class="detalle-imagen">

        <img
        src="https://scontent.fczu1-1.fna.fbcdn.net/v/t1.6435-9/86171546_2785547068200136_4223673579075534848_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=833d8c&_nc_ohc=4hjFnWuvRdEQ7kNvwHMUJpG&_nc_oc=Adra3oy1KmyUE_ZYqvV5gkzFNmamdb1HeVooAeAbaGF6e24nthY2PsOixc7HBajPU8I&_nc_zt=23&_nc_ht=scontent.fczu1-1.fna&_nc_gid=FYzC6F5U2lLjsNkfYFd10Q&_nc_ss=7b289&oh=00_Af41IscqA4dZd80zg0b1MPQsxIAgkwqiDFa8THIYPiUGug&oe=6A318E11"
        alt="Ruta">

    </div>

    <!-- INFORMACIÓN -->

    <div class="detalle-info">

        <h1>
            Ruta Natural Támesis Antioquia
        </h1>

        <p>

            Disfruta una experiencia única recorriendo
            senderos ecológicos, montañas, cascadas y
            paisajes naturales de Támesis Antioquia.

        </p>

        <h3>Incluye</h3>

        <ul>

            <li>Guía turístico</li>

            <li>Seguro de viaje</li>

            <li>Transporte</li>

            <li>Refrigerio</li>

        </ul>

        <h3>Recomendaciones</h3>

        <ul>

            <li>Llevar ropa cómoda</li>

            <li>Usar bloqueador solar</li>

            <li>Llevar hidratación</li>

            <li>Usar tenis o botas</li>

        </ul>

        <div class="precio">

            $120.000 COP

        </div>

    </div>

</section>

<!-- FORMULARIO -->

<section class="formulario-reserva">

    <h2>
        Reservar Ruta
    </h2>

    <form>

        <input
        type="text"
        placeholder="Nombre Completo">

        <input
        type="number"
        placeholder="Cantidad de Personas">

        <select>

            <option>
                Método de Pago
            </option>

            <option>
                Tarjeta Débito
            </option>

            <option>
                Tarjeta Crédito
            </option>

            <option>
                Daviplata
            </option>

        </select>

        <button type="submit">

            Confirmar Reserva

        </button>

    </form>

</section>