<div class="detalle-header">

    <img
        src="assets/logo.png"
        alt="Logo"
        class="logo-detalle">

    <button
        routerLink="/rutas"
        class="btn-volver">

        ←

    </button>

</div>

<section class="detalle-container">

    <div class="detalle-imagen">

        <img
            src="https://www.tamesis-antioquia.gov.co/NuestraAlcaldia/SaladePrensa/PublishingImages/Paginas/T%C3%A1mesis-un-para%C3%ADso-para-descubrir/IMG_5234.JPG"
            alt="Piedra del Pirú">

    </div>

    <div class="detalle-info">

        <span class="badge-ruta">
            Ruta Ecológica.
        </span>

        <h1>
            Piedra del Pirú
        </h1>

        <p>
            Recorre uno de los senderos más representativos de Támesis Antioquia.
            Disfruta de paisajes naturales, montañas, fauna y flora mientras vives
            una experiencia única de turismo ecológico.
        </p>

        <div class="detalle-meta">

            <div>📍 Támesis Antioquia</div>

            <div>⏰ Duración: 4 Horas</div>

            <div>🥾 Dificultad: Media</div>

            <div>👥 Cupos disponibles: 15</div>

        </div>

        <div class="precio">

            $120.000 COP

        </div>

        <h3>Incluye</h3>

        <ul>

            <li>Guía turístico</li>

            <li>Seguro de viaje</li>

            <li>Transporte</li>

            <li>Refrigerio</li>

        </ul>

        <h3>Recomendaciones</h3>

        <ul>

            <li>Usar ropa cómoda</li>

            <li>Llevar hidratación</li>

            <li>Protector solar</li>

            <li>Calzado para senderismo</li>

        </ul>

    </div>

</section>

<section class="formulario-reserva">

    <h2>
        Reservar Ruta
    </h2>

    <p>
        Completa la información para realizar tu reserva.
    </p>

    <form>

        <input
            type="text"
            placeholder="Nombre Completo">

        <input
            type="email"
            placeholder="Correo Electrónico">

        <input
            type="number"
            placeholder="Cantidad de Personas">

        <input
            type="tel"
            placeholder="Número de Contacto">

        <input
            type="date">

        <select>

            <option>
                Método de Pago
            </option>

            <option>
                Tarjeta Débito
            </option>

            <option>
                Tarjeta Crédito
            </option>

            <option>
                Nequi
            </option>

            <option>
                Daviplata
            </option>

        </select>

        <label>Observaciones adicionales</label>
        <textarea
        rows="5"
        placeholder="Escriba aquí comentarios o solicitudes especiales">
        </textarea>

        <button type="submit">

            Confirmar Reserva

        </button>

    </form>

</section>