<header class="navbar">

    <div class="logo-container">

        <img
        src="assets/imagenes/logo.jpeg"
        alt="Logo"
        class="logo-img">

        <h2>Kuntur Támesis</h2>

    </div>

    <nav class="nav-links">

        <a routerLink="/">
            Inicio
        </a>

    </nav>

</header>

<!-- HERO -->



<section class="hero-rutas">

  <div class="hero-overlay">
    <h1>Rutas Turísticas</h1>
    <p>Descubre todas las experiencias que Kuntur Támesis tiene para ti.</p>
  </div>

  <div class="wave-divider">
    <svg viewBox="0 0 1440 150" preserveAspectRatio="none">
      <path
        fill="#101010"
        d="M0,96L80,106.7C160,117,320,139,480,133.3C640,128,800,96,960,80C1120,64,1280,64,1360,64L1440,64L1440,160L1360,160C1280,160,1120,160,960,160C800,160,640,160,480,160C320,160,160,160,80,160L0,160Z">
      </path>
    </svg>
  </div>

</section>

<!-- TARJETAS -->

<section class="rutas-container">

    <div
        class="ruta-card"
        *ngFor="let ruta of rutas"
    >

        <img
            [src]="ruta.imagen"
            [alt]="ruta.nombre"
        >

        <div class="ruta-info">

            <h2>
                {{ ruta.nombre }}
            </h2>

            <p>
                {{ ruta.descripcion }}
            </p>

            <span class="precio">
                ${{ ruta.precio }}
            </span>

            <div class="botones">

                <button
                    class="btn-reservar"
                    (click)="reservarRuta()"
                >
                    Reservar Ruta
                </button>

                <button
                class="btn-info"
                [routerLink]="['/ruta-detalle', ruta.id]">
                Más Información
            </button>

            </div>

        </div>

    </div>

</section>

<!-- MODAL -->

<div
class="modal-overlay"
*ngIf="mostrarModal">

    <div class="modal">

        <h2>Debes iniciar sesión</h2>

        <p>
            Debes iniciar sesión o crear una cuenta antes de reservar tu ruta.
        </p>

        <div class="modal-buttons">

            <button
            class="btn-login"
            (click)="irLogin()">
                Iniciar Sesión
            </button>

            <button
            class="btn-register"
            (click)="irRegister()">
                Crear Cuenta
            </button>

        </div>

        <button
        class="cerrar-modal"
        (click)="cerrarModal()">
            ✕
        </button>

    </div>

</div>