<header class="navbar">

    <!-- LOGO -->
    <div class="logo-container">

        <img
        src="assets/logo.png"
        alt="Logo"
        class="logo-img">

        <h2>Kuntur Támesis</h2>

    </div>

    <!-- MENÚ -->
    <nav class="nav-links">

        <a routerLink="/">
            Inicio
        </a>



    </nav>

</header>

<header class="rutas-header">

    <h1>
        Rutas Turísticas
    </h1>

    <p>
        Descubre todas las experiencias que Kuntur Támesis tiene para ti.
    </p>

</header>

<section class="rutas-container">
<section class="rutas-container">

    <div
    class="ruta-card"
    *ngFor="let ruta of rutas">

        <img
        src="https://via.placeholder.com/500x300"
        alt="Ruta">

        <div class="ruta-info">

            <h2>
                {{ ruta.nombre }}
            </h2>

            <p>
                {{ ruta.descripcion }}
            </p>

            <span class="precio">
                ${{ ruta.precio }}
            </span>

            <div class="botones">

                <button
                class="btn-reservar"
                (click)="reservarRuta()">

                    Reservar Ruta

                </button>

                <button
                class="btn-info"
                routerLink="/ruta-detalle">

                    Más Información

                </button>

            </div>

        </div>

    </div>

</section>

</section>
<!-- MODAL LOGIN -->

<div
class="modal-overlay"
*ngIf="mostrarModal">

    <div class="modal">

        <h2>
            Debes iniciar sesión
        </h2>

        <p>
            Debes Iniciar Sesión o Crear una Cuenta antes de Reservar tu Ruta.
        </p>

        <div class="modal-buttons">

            <button
            class="btn-login"
            (click)="irLogin()">

                Iniciar Sesión

            </button>

            <button
            class="btn-register"
            (click)="irRegister()">

                Crear Cuenta

            </button>

        </div>

        <button
        class="cerrar-modal"
        (click)="cerrarModal()">

            ✕

        </button>

    </div>

</div>